main {
    background-color: red;
    
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : 'arial', sans-serif;
}

.slider-box{
    width : 100%;
    height : 100%;
    margin : 20px auto 0; 
    overflow : hidden;
}
.slider-box ul{
    display : flex;
    padding : 10px;
    width : 200%;
    animation : slide 20s infinite alternate ease-in-out;
}
.slider-box li{
    width : 100%;
    list-style : none;
    position : relative;
}
.slider-box img{
    width : 100%;
    height : auto;
}   
@keyframes slide{
  0% {
        margin-left: 0%;
    }

    40% {
        margin-left: 0%;
    }

    50% {
        margin-left: -100%;
    }

    90% {
        margin-left: -100%;
    }

    100% {
        margin-left: 0%;
    }
   
}
.registro{
    width: 350px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}